/* PDF-Print settings */
.pdfprnt-top-left,
.pdfprnt-bottom-left,
.pdfprnt-top-bottom-left,
.pdfprnt-left {
	text-align: left;
	padding: 5px;
}
.pdfprnt-top-right,
.pdfprnt-bottom-right,
.pdfprnt-top-bottom-right,
.pdfprnt-right {
	text-align: right;
	padding: 5px;
}
.pdfprnt-top-left a,
.pdfprnt-bottom-left a,
.pdfprnt-top-right a,
.pdfprnt-bottom-right a,
.pdfprnt-top-bottom-right a,
.pdfprnt-top-bottom-left a,
.pdfprnt-left a,
.pdfprnt-right a {
	padding: 0 5px;
}
.entry-content .pdfprnt-top-left a,
.entry-content .pdfprnt-bottom-left a,
.entry-content .pdfprnt-top-right a,
.entry-content .pdfprnt-bottom-right a,
.entry-content .pdfprnt-top-bottom-right a,
.entry-content .pdfprnt-top-bottom-left a,
.entry-content .pdfprnt-left a,
.entry-content .pdfprnt-right a {
	border-bottom: none;
}
.entry-content .pdfprnt-top-left a img,
.entry-content .pdfprnt-bottom-left a img,
.entry-content .pdfprnt-top-right a img,
.entry-content .pdfprnt-bottom-right a img,
.entry-content .pdfprnt-top-bottom-right a img,
.entry-content .pdfprnt-top-bottom-left a img,
.entry-content .pdfprnt-left a img,
.entry-content .pdfprnt-right a img {
    display: inline;
}
#wpadminbar #wp-admin-bar-pdfprnt-bar-menu-default li {
	cursor: pointer;
}
#wpadminbar #wp-admin-bar-pdfprnt-bar-menu-default li a {
	height: auto;
	padding: 8px 0;
	text-align: center;
}
#wpadminbar li#wp-admin-bar-pdfprnt-bar-menu span.admin-bar-menu-bws-icon {
	background: url("../bws_menu/images/icon_16.png") no-repeat scroll center center transparent;
	float: left;
	position: relative;
	width: 16px;
	height: 16px;
	margin: 6px 6px 0 0;
}

/* PDF-Print settings .form-table */
.pdfprnt_settings_table td div {
	float: left;
	text-align: center;
	margin: 0 5px;
}
.pdfprnt_settings_table td div img {
	border:1px solid #777;
	display:block;
	width: 80px;
	height: 100px;
}
.pdfprnt_settings_table td {
	vertical-align: top;
	padding: 10px;
}
.pdfprnt_settings_table td select {
	min-width: 210px;
}
.pdfprnt_buttons {
	width: auto !important;
}
.pdfprnt_label {
	display: none;
}
.pdfprnt_info {
	color: #888;
	font-size: 10px;
}
.pdfprnt_loader {
	position: absolute;
	display: none;
}
@media only screen and ( max-width: 785px ) {
	.pdfprnt_label {
		display: inline;
	}
	.pdfprnt_position_buttton .pdfprnt_label {
		display: block;
	}
	.pdfprnt_table_head {
		display: none;
	}
}
