/* PDF-Print settings */
.pdfprnt-top-left,
.pdfprnt-bottom-left,
.pdfprnt-top-bottom-left,
.pdfprnt-left {
	text-align: left;
	padding: 5px;
}
.pdfprnt-top-right,
.pdfprnt-bottom-right,
.pdfprnt-top-bottom-right,
.pdfprnt-right {
	text-align: right;
	padding: 5px;
}
.pdfprnt-top-left:before,
.pdfprnt-bottom-left:before,
.pdfprnt-top-right:before,
.pdfprnt-bottom-right:before,
.pdfprnt-top-bottom-left:before,
.pdfprnt-top-bottom-right:before,
.pdfprnt-left:before,
.pdfprnt-right:before {
	content: "";
	clear: both;
	display: table;
}
.pdfprnt-top-left a,
.pdfprnt-bottom-left a,
.pdfprnt-top-right a,
.pdfprnt-bottom-right a,
.pdfprnt-top-bottom-right a,
.pdfprnt-top-bottom-left a,
.pdfprnt-left a,
.pdfprnt-right a {
	padding: 0 5px;
	box-shadow: none !important;
	border: none !important;
	outline: none !important;
}
.pdfprnt-top-left a img,
.pdfprnt-bottom-left a img,
.pdfprnt-top-right a img,
.pdfprnt-bottom-right a img,
.pdfprnt-top-bottom-right a img,
.pdfprnt-top-bottom-left a img,
.pdfprnt-left a img,
.pdfprnt-right a img {
	display: inline !important;
}
#wp-admin-bar-pdfprnt-bar-menu-default li {
	cursor: pointer;
}
#wp-admin-bar-pdfprnt-bar-menu-default li:hover {
	background-color: #2E9EC7 !important;
}
#wpadminbar #wp-admin-bar-pdfprnt-bar-menu-default li a {
	height: auto;
	padding: 8px 0;
	text-align: center;
}
#wpadminbar li#wp-admin-bar-pdfprnt-bar-menu span.admin-bar-menu-bws-icon {
	background: url("../bws_menu/images/icon_16_single.png") no-repeat scroll center center transparent;
	float: left;
	position: relative;
	width: 16px;
	height: 16px;
	margin: 6px 6px 0 0;
	opacity: 0.7;
}

/* PDF-Print settings .form-table */
#pdfprnt_settings_form th {
	padding: 10px;
}
.pdfprnt_settings_table td div:not(div[class*="CodeMirror"]) {
	float: left;
	text-align: center;
	margin: 0 5px;
}
.pdfprnt_settings_table td div img {
	border:1px solid #777;
	display:block;
	width: 80px;
	height: 100px;
}
.pdfprnt_settings_table td {
	vertical-align: top;
	padding: 10px;
}
.pdfprnt_settings_table td select {
	min-width: 210px;
}
.rtl #pdfprnt_custom_styles {
	direction: ltr;
}
.pdfprnt_buttons {
	width: auto !important;
}
.pdfprnt_label {
	display: none;
}
.pdfprnt_loader {
	position: absolute;
	display: none;
}
/*
 * css highlighter
*/
.pdfprnt_custom_styles .CodeMirror {
    max-height: 200px;
    max-width: 500px;
    border: 1px solid #ddd;  }
.pdfprnt_custom_styles .CodeMirror-scroll {
    height: 100%;
    width: 100%;
    box-sizing: border-box !important;
}
.pdfprnt_custom_styles .CodeMirror-hscrollbar {
    left: 0 !important;
}
.pdfprnt_custom_styles .CodeMirror-sizer {
	border-right: none;
}
.pdfprnt_pro_block .bws_pro_version_tooltip {
	display: inline-block;
	width: 100%;
	box-sizing: border-box;
	top: 5px;
}
.pdfprnt_templates_block .bws_pro_version_table_bloc,
.pdfprnt_templates_new_block .bws_pro_version_table_bloc {
	padding: 5px 5px 0 5px;
}

.pdfprnt_templates_block .bws_table_bg,
.pdfprnt_templates_new_block .bws_table_bg {
	top: 0;
	left: 0;
}
@media only screen and ( max-width: 785px ) {
	.pdfprnt_label {
		display: inline;
	}
	.pdfprnt_position_button .pdfprnt_label {
		display: block;
	}
	.pdfprnt_table_head {
		display: none;
	}
	.pdfprnt_templates_block p.search-box {
		position: static;
		clear: both
	}
}

@media only screen and ( max-width: 450px ) {
	.pdfprnt_image_block table,
	.pdfprnt_image_block tr,
	.pdfprnt_image_block td {
		width: inherit;
		display: block;
		box-sizing: border-box;
	}
	.pdfprnt_templates_block .tablenav.bottom .displaying-num {
		display: none;
	}
}

@media only screen and ( max-width: 300px ) {
	.pdfprnt_add_new_button {
		display: inline-block;
		margin-top: 10px;
	}
}
