/* General styles */
.pdfprnt-table-settings * {
	box-sizing: border-box;
	word-break: break-word;
}
.pdfprnt-table-settings th {
	width: 20%;
}
.form-table td .pdfprnt-pro-feature {
	margin: 0 -20px 0 -10px;
}
.pdfprnt-col {
	float: left;
	margin-left: 0;
	margin-right: 0;
	padding-right: 10px;
}
.rtl .pdfprnt-col {
	float: right;
	padding-right: initial;
	padding-left: 10px;
}
.pdfprnt-col > * {
	max-width: 100%;
}
.pdfprnt-col-2 {
	width: 50%;
}

/* Settings tab */
.pdfprnt-button-image-default-pdf,
.pdfprnt-button-image-default-print {
	margin: 5px auto;
}

/* Output tab */
.pdfprnt_loader {
	position: absolute;
	display: none;
}

@media screen and ( max-width: 782px ) {
	.pdfprnt-table-settings th {
		width: auto;
	}
}

@media screen and ( max-width: 520px ) {
	.pdfprnt-col,
	.pdfprnt-col-2 {
		padding-left: 0;
		padding-right: 0;
	}
	.pdfprnt-col-2 {
		width: 100%;
	}
}